<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>

  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">

</head>
<body>

<div class="navbar navbar-default">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">Daily Planet Blog-verse</a>
  </div>


    <ul class="nav navbar-nav">
      <li><a href="/Authors">Authors</a></li>
      <li><a href="/Posts">Blog Posts</a></li>
    </ul>

    <form class="navbar-form navbar-right">
      <input type="text" class="form-control col-lg-8" placeholder="Search">
    </form>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="/Authors/New">New Authors</a></li>
    </ul>

</div>


<div class="container">