<% include partials/header %>

<div class="row">
  <div class="col-md-9 col-md-offset-1">

    <div class="jumbotron">
      <h2>Welcome to the New and Improved Daily Planet</h2>
      <p>This is a news database where you can read or post articles from your favorite authors on the latest news stories!</p>

      <span>
      <a class="btn btn-primary btn-lg" href="/Authors">Search Authors</a>
      <a class="btn btn-primary btn-lg" href="/Posts">Search Articles</a>
      </span>

    </div>

  </div>

  <div class="col-md-2"></div>
</div>


<% include partials/footer %>