<% include ../partials/header %>

<!-- NEW for AUTHOR -->

<div class="row">
  <div class="col-md-7 col-md-offset-1">

<% if (typeof errMsg !== 'undefined') {%>
  <h3 style="color:red"> <%= errMsg %> </h3>
<% }; %>

<h3>New Poster's Register Here!</h3>
<br>

<!-- FORM returns to author index page-->
  <form action="/Authors" method="POST">
    <span>
    <input name="author[name]" placeholder="Enter Name" value="<%= name %>">
    <br>
    <input name="author[age]" placeholder="Enter Age" value="<%= age %>">
    <br>
    <input type="submit" class="btn btn-default" value="Save">
    </span>
  </form>

  </div>
  <div class="col-md-3 col-md-offset-1"></div>
</div>


<% include ../partials/footer %>